.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-button {
  margin-top: 25px !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  cursor: pointer;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}